<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    
    <springProperty scope="context" name="APP_NAME" source="spring.application.name" defaultValue="Interview-Service"/>
    <springProperty scope="context" name="ACTIVE_PROFILE" source="spring.profiles.active" defaultValue="local"/>
    
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p [%X{traceId:--},%X{correlationId:--}] --- [%15.15t] %-40.40logger{39} : %m%n</pattern>
        </encoder>
    </appender>

    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"app":"${APP_NAME}","env":"${ACTIVE_PROFILE}"}</customFields>
            <includeMdcKeyName>traceId</includeMdcKeyName>
            <includeMdcKeyName>correlationId</includeMdcKeyName>
            <includeContext>false</includeContext>
            <timestampPattern>yyyy-MM-dd'T'HH:mm:ss.SSSZ</timestampPattern>
        </encoder>
    </appender>

    <!-- Suppress verbose Spring Cloud and Netflix logs -->
    <logger name="com.netflix.discovery" level="WARN"/>
    <logger name="com.netflix.eureka" level="WARN"/>
    <logger name="com.netflix.loadbalancer" level="WARN"/>
    <logger name="org.springframework.cloud.netflix" level="WARN"/>
    <logger name="org.springframework.cloud.config" level="WARN"/>
    
    <!-- Suppress verbose actuator health check logs -->
    <logger name="org.springframework.boot.actuate" level="WARN"/>
    <logger name="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" level="WARN"/>
    
    <!-- Suppress verbose HTTP client logs -->
    <logger name="org.apache.http" level="WARN"/>
    <logger name="org.springframework.web.client.RestTemplate" level="WARN"/>
    
    <!-- Suppress Hibernate/JPA verbose logs -->
    <logger name="org.hibernate.SQL" level="WARN"/>
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="WARN"/>
    
    <!-- Suppress Spring Security verbose logs -->
    <logger name="org.springframework.security" level="WARN"/>

    <springProfile name="local,dev">
        <logger name="com.SwitchBoard" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
        
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <logger name="com.SwitchBoard" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="JSON"/>
        </logger>
        
        <root level="INFO">
            <appender-ref ref="JSON"/>
        </root>
    </springProfile>


</configuration>
